{% extends 'base.html.twig' %}

{% block body %}

    <div class="row" id="login" class="">
        <div class="col s12 m6 offset-m3 l6 offset-l3">
            <div class="card hoverable">
                <div class="card-content">
                    {% if questionnaires %}
                        <ul class="collection with-header">
                            <li class="collection-header"><h4>Liste des questionnaires</h4></li>
                            {% for questionnaire in questionnaires %}
                                <li class="collection-item">
                                    <div>{{ questionnaire.nom }}<a href="#!" class="secondary-content"><i
                                                    class="material-icons">visibility</i></a></div>
                                </li>
                            {% endfor %}
                        </ul>
                    {% else %}
                        <div class="center-align center">
                        <span class="black-text wi">
                            Aucun questionnaire à afficher
                        </span>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    {% if canAddQuestionnaire==true %}
        <div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
            <a class="btn-floating btn-large light-blue tooltipped" data-position="left" data-delay="50"
               data-tooltip="Créer QCM" href="/add">
                <i class="large material-icons">add</i>
            </a>
        </div>
    {% endif %}

{% endblock body %}

{% block javascripts %}
    <script type="text/javascript">
        $(document).ready(function () {
            $('.tooltipped').tooltip({delay: 50});
        })
    </script>
{% endblock javascripts %}

