{# app/Resources/views/registration/register.html.twig #}
{# ... you will probably extends your base template, like base.html.twig #}
{% extends 'base.html.twig' %}

{% block body %} {# modèle body <body>#}
    <div class="row" id="questionnaire-add">
        <div class="col s12 m6 offset-m3 l6 offset-l3">
            <div class="card-panel hoverable center-align valign"><h4>Fin du questionnaire</h4></div>
        </div>
    </div>
{% endblock body %} {# modèle body </body>#}