{# app/Resources/views/security/login.html.twig #}
{# ... you will probably extends your base template, like base.html.twig #}
{% extends 'base.html.twig' %}

{% block body %}


    <div class="row" id="login" class="">
        <div class="col s12 m6 offset-m3 l6 offset-l3">
            <form action="{{ path('login_check') }}" class="" method="post">
                <div class="card hoverable">
                    <div class="card-content">
                        <span class="card-title">Connexion</span>
                        <div class="input-field">
                            <input class="validate" type="text" id="username" name="_username"
                                   value="{{ last_username }}" required/>
                            <label for="username">Nom d'utilisateur</label>
                        </div>
                        <div class="input-field">
                            <input class="validate" type="password" id="password" name="_password" required/>
                            <label for="password">Mot de passe</label>
                        </div>
                        {% if error %}
                            <p class="center">{{ error.messageKey|trans(error.messageData, 'security','FR') }}</p>
                        {% endif %}
                    </div>
                    <div class="card-action center">
                        <a class="btn waves-effect white  blue-grey-text" href="/register">
                            S'inscrire<i class="material-icons right"></i>
                        </a>
                        <button class="btn waves-effect white  blue-grey-text" type="submit" name="action">
                            Se connecter<i class="material-icons right">send</i>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>

{% endblock body %}