{# app/Resources/views/security/login.html.twig #}
{# ... you will probably extends your base template, like base.html.twig #}
{% extends 'base.html.twig' %}

{% block body %}
{% if error %}
    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}

    <div class="row" id="login" class="">
        <div class="col s4 m6 offset-s4 l6 offset-l3">
            <form action="" class="">
                <div class="card hoverable">
                    <div class="card-content">
                        <span class="card-title">Login</span>
                        <div class="input-field">
                            <input class="validate" type="text" id="username" name="_username" value="{{ last_username }}" />
                            <label for="username">Username</label>
                        </div>
                        <div class="input-field">
                            <input class="validate" type="password" id="password" name="_password"/>
                            <label for="password">Password</label>
                        </div>
                    </div>
                    <div class="card-action ">
                        <a href="#" class="red-text">Allons-y !</a>
                    </div>
                </div>
            </form>
        </div>
    </div>

{#<form action="{{ path('login_check') }}" method="post">
    <div class="mdl-layout mdl-js-layout mdl-color--grey-100">
        <main class="mdl-layout__content">
            <div class="mdl-card mdl-shadow--6dp">
                <div class="mdl-card__title">
                    <h2 class="mdl-card__title-text">Login</h2>
                </div>
                <div class="mdl-card__supporting-text">
                    <form action="#">
                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                            <input class="mdl-textfield__input" type="text" id="username" name="_username" value="{{ last_username }}" />
                            <label class="mdl-textfield__label" for="username">Username</label>
                        </div>
                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                            <input class="mdl-textfield__input" type="password" id="userpass" name="_password"/>
                            <label class="mdl-textfield__label" for="userpass">Password</label>
                        </div>
                    </form>
                </div>
                <div class="mdl-card__actions mdl-card--border">
                    <button class="mdl-button mdl-button--accent mdl-js-button mdl-js-ripple-effect" type="submit">Allons-y !</button>
                </div>
            </div>
        </main>
    </div>
</form>#}
{% endblock body %}