{# app/Resources/views/security/login.html.twig #}
{# ... you will probably extends your base template, like base.html.twig #}
{% extends 'base.html.twig' %}

{% block body %}
{% if error %}
    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}

    <div class="row" id="login" class="">
        <div class="col s12 m6 offset-m3 l6 offset-l3">
            <form action="{{ path('login_check') }}" class="" method="post">
                <div class="card hoverable">
                    <div class="card-content">
                        <span class="card-title">Login</span>
                        <div class="input-field">
                            <input class="validate" type="text" id="username" name="_username" value="{{ last_username }}" required/>
                            <label for="username">Username</label>
                        </div>
                        <div class="input-field">
                            <input class="validate" type="password" id="password" name="_password" required/>
                            <label for="password">Password</label>
                        </div>
                    </div>
                    <div class="card-action ">
                        <button class=" btn waves-effect white red-text" type="submit">Allons-y !</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

{% endblock body %}